{% macro dashboardItem_component(value, color, time) %}
<article class="{{ color }} p-6 row-span-1 border-4 border-black
flex justify-between items-center flex-col">
    <div class="flex w-full justify-start">
        <h2 class="md:text-2xl xl:text-3xl font-semibold">{{ time }}</h2>
    </div>
    <div>
        <h3 
        class="md:text-7xl xl:text-9xl font-bold"
        >
            {% if value >= 1000 %}
                +1K
            {% else %}
                {{ value }}
            {% endif %}
        </h3>
    </div>
    <div>
            
    </div>
</article>
{% endmacro %}